<div class="container">
  <div class="row">
    <div class="col-md-2">

      <!-- <div class="btn-group-vertical" > -->
      <h1> Chat </h1>
      <!-- <section class="sidebar" class="chat_sidebar" class="pull-left"> -->
      <hr style="width: 100%; background-color: black; height: 1px; border-color : transparent;" /> <!--Creates lag when loading  -->


      <!--Add new rooms button-->
      <p><button type="button" ng-click="home.open()">Click for New Room</button></p>
      </br>



      <!--Click on room-->
      <div ng-repeat="room in home.rooms track by $index">
        <button type="button" class="btn btn-dark" class="btn-group btn-group" ng-click="home.activeRoom(room)">{{ room.$value }}</button>
      </div>
    </div>

    <!--Message Window-->
    <div class="col-md-10">
      <h2>{{ home.currentRoom.$value }}</h2>
      <table class="table table-striped">
        <tbody >
          <tr ng-repeat="message in home.messages">
            <td class="username">{{ message.username }}</td>
            <td class="user-message">{{ message.message }}</td>
            <td class="timestamp">{{message.sentAt | date : "shortTime"}}</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>

  <hr/>
    <!--messages-->
  <footer>
    <button type="button" ng-click="isCollapsed = !isCollapsed">Open Message </button>
  	<div uib-collapse="!isCollapsed">
      <div class="col-lg-6">
        <div class="input-group">
          <input type="text" class="form-control" ng-model="home.newMessage.message" placeholder="Message" aria-label="Message">
          <span class="input-group-btn">

            <button class="btn btn-secondary" type="button" ng-click="home.send()">Submit</button>
            <input class="enter" ng-keyup="$event.keyCode == 13 && home.send()"><input>
          </span>
        </div>
      </div>
    </div>
  </footer>
</div>
